*{
    box-sizing:border-box;
    font-family:'Georgia', serif;
}

body{
    margin:0;
    background:#fde8c8;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

/* WRAPPER */
.wrapper{
    padding:30px;
}

/* CARD */
.card{
    background:#fff;
    width:900px;
    padding:40px 50px;
    border-radius:10px;
    border:2px solid #1e90ff;          /* biru */
    box-shadow:8px 8px 0px #e67e22;    /* oranye */
    display:flex;
    align-items:center;
    gap:60px;
}

/* LEFT */
.left{
    flex:1;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

/* VINYL */
.vinyl{
    width:260px;
    animation: spin 6s linear infinite;
    animation-play-state: paused; /* default berhenti */
    filter: drop-shadow(0 10px 15px rgba(0,0,0,0.3));
}

/* ANIMASI MUTER */
@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

/* MUSIC CONTROL */
.music-control{
    margin-top:18px;
    display:flex;
    gap:15px;
    justify-content:center;
}

.music-control button{
    background:#7a1f1f;
    color:white;
    border:none;
    padding:8px 20px;
    border-radius:25px;
    cursor:pointer;
    font-size:12px;
    letter-spacing:1px;
    transition:0.3s;
    box-shadow:0 4px 8px rgba(0,0,0,0.2);
}

.music-control button:hover{
    background:#a83232;
    transform:scale(1.05);
}

/* RIGHT */
.right{
    flex:1;
}

.right h1{
    margin:0;
    text-align:center;
    color:#7a1f1f;
    letter-spacing:2px;
}

.subtitle{
    text-align:center;
    font-size:11px;
    font-style:italic;
    margin:10px 0 25px;
    color:#7a1f1f;
}

/* LIST */
.list{
    margin-top:10px;
}

.item{
    margin-bottom:18px;
}

.date{
    display:block;
    font-size:11px;
    color:#aaa;
    margin-bottom:3px;
}

.item a{
    text-decoration:none;
    color:#7a1f1f;
    font-size:15px;
    border-bottom:1px solid #ccc;
    padding-bottom:3px;
}

.item a:hover{
    letter-spacing:1px;
    transition:0.3s;
}

/* RESPONSIVE */
@media(max-width:900px){
    .card{
        flex-direction:column;
        width:95%;
        gap:30px;
        text-align:center;
    }

    .vinyl{
        width:200px;
    }

    .music-control{
        margin-bottom:10px;
    }
}
